@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  box-sizing: border-box;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1023px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #497292;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #497292;
}
.content {
  max-width: 1023px;
  margin: 40px auto;
  padding: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.house-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.listing-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #497292;
}

.listing-preview:hover {
  background-color: #497292;
}

.listing-preview:hover .listing-info > *, .listing-preview:hover .listing-info sup{
  color: #FFFFFF !important;
}

.featured-image > img {
  width: 100%;
  height: 100%;
}

.featured-image {
  width: 40%;
}

.listing-info {
  width: 60%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.listing-info h3 {
  color: #497292;
  margin-bottom: 10px;
}

.listing-info p {
  margin-bottom: 10px;
}

.location-label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin-left: 3px;
  color: #497292;
  font-weight: 600;
}

.heading-center{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #497292;
  margin-bottom: 20px;
}

.single-row{
  width: 100%;
  padding: 0 5px;
}

.dual-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dual-row > * {
  width: 50%;
  padding: 0 5px;
}

.form-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background: #F1F1F1;
  font-family: 'Lato', sans-serif;
}

.form-input:focus, .form-input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.form-label{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.submit-listing {
  font-family: 'Lato', sans-serif;
  background-color: #497292;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.submit-listing:hover {
  opacity:1;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #497292;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #ddd;
}

.radio-btn {
  display: none;
}

.radio-btn:checked + label {
  background-color: #497292;
  color: #fff;
  border-color: #497292;
}

@media only screen and (max-width: 769px) {
  .house-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .dual-row{
    flex-direction: column;
  }
  .dual-row > *{
    width: 100%;
  }
}