@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  box-sizing: border-box;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1023px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #497292;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #497292;
}
.content {
  max-width: 1023px;
  margin: 40px auto;
  padding: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.filter-container {
  width: 30%;
}

.listing-container {
  width: 70%;
}

.house-list {
  display: flex;
  flex-direction: column;
}

.listing-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  border: 1px solid #497292;
}

.featured-image > img {
  width: 100%;
  height: 100%;
}

.featured-image {
  width: 50%;
}

.listing-info {
  width: 50%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.listing-info h3 {
  color: #497292;
  margin-bottom: 10px;
}

.listing-info p {
  margin-bottom: 10px;
}

.location-label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin-left: 3px;
  color: #497292;
  font-weight: 600;
}

.checkbox-container {
  margin-bottom: 5px;
}

.heading-center{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #497292;
  margin-bottom: 20px;
}

.single-row{
  width: 100%;
  padding: 0 5px;
}

.dual-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dual-row > * {
  width: 50%;
  padding: 0 5px;
}

.form-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background: #F1F1F1;
  font-family: 'Lato', sans-serif;
}

.form-input:focus, .form-input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.form-label{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.submit-listing {
  font-family: 'Lato', sans-serif;
  background-color: #497292;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.submit-listing:hover {
  opacity:1;
}